.card {
  background-color: lightcoral;
  padding: 14px;

  border-radius: 18px;
  height: 400px;
  width: 300px;
}

.container {
  /* чтобы включить flex box */
  display: flex;

  /* justify - выравнивает по основной оси */
  /* 
center - по центру слиплись
flex-end - в конце 
flex-start - в начале
space-around - элементы распределены равномерно
space-between - пустое место между элементами
*/
  justify-content: center;
  gap: 20px; /* pза*/
}

.container-2 {
  display: flex;
  /* row - строка, column - столбец */
  flex-direction: column;
  gap: 24px;
}

.container-3 {
  display: flex;
  flex-wrap: wrap; /* flex-wrap:wrap; - чтобы карточки при изменении размера экрана перескакивали на новую строку */
  gap: 24px 50px; /* зазор между рядами и между карточками */
}
