.container {
    height: 1600px;
    background-color: lightcyan;

    display: flex;
    gap: 24px;
/* выравнивание всех элементов по поперечной оси 
flex-end - внизу по вертикальной оси 
align-items - по вертикальной оси
justify- по горизонтальной оси
*/
    align-items: flex-end;
    flex-wrap: wrap;
    /*  Переместить весь контент в нижнюю часть контейнера */
    align-content: flex-end;
}

.item {
    background-color: lightpink;
    height: 400px;
    width: 350px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.small {
    height: 200px;
}

.tall {
    height: 420px;
}

.five {
    align-self: flex-start;
}

.container-2 {
    padding: 32px;
    display: flex;
    gap: 32px;
    flex-direction: row-reverse;
}

.special-kid {
    /* flex-grow - можно расширить дочерний элемент */
    flex: 1;
}
